@import "tailwindcss";

@theme {
    --breakpoint-sm: 0px;
    --breakpoint-md: 700px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1600px;
    --breakpoint-3xl: 600px;
    --color-black: #050608;
    --color-cream: #F0EBDF;
    --color-white: #FFFFFF;
    --color-lightblue: #7FA8B9;
    --color-blue: #54779D;
    --color-darkblue: #100E24;
    --color-red: #A54929;
    --color-darkred: #8A3D22;
    --color-terra: #723319;
    --color-orange: #B84337;
    --color-darkgray: #100F24;
    --font-body: 'Roboto', sans-serif;
    --padding-desktop : 48px;
    --padding-mobile : 12px;
    --container-7xl: 1280px;
}

body {
    font-family: var(--font-body);
    font-weight: 500;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}