---
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <div class="flex items-center justify-center h-screen">
        <h1 class="text-darkgray text-3xl font-bold">WIP ...</h1>
    </div>
</Layou>
