<footer class="max-w-7xl mx-auto">
    <div class="flex items-end justify-between pb-8 px-4 md:px-8">
        <div>
            <p class="text-lg">© 2025 SAUVAGE</>
        </div>
        <div class="flex flex-col">
            <div>
                <a href="mailto:thomas.sauvage@edu.devinci.fr" class="flex justify-between gap-2">
                    <h3 class="text-xl">Mail</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
                </a>
            </div>
            <div>
                <a href="https://github.com/cactusninjaa" target="_blank" class="flex justify-between gap-2">
                    <h3 class="text-xl">GitHub</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>                
                </a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/thomas-sauvage-/" target="_blank" class="flex justify-between gap-2">
                    <h3 class="text-xl">LinkedIn</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>                
                </a>
            </div>
        </div>
    </div>
</footer>
